--
-- PostgreSQL database dump
--

\restrict 3JQcKwxqJxHRWNWLhN3IHDzUFQQr3GmnFWUOGchrB2Jpl23cRJJu9jv6dEjEcjU

-- Dumped from database version 18.3 (Debian 18.3-1.pgdg13+1)
-- Dumped by pg_dump version 18.3 (Debian 18.3-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: app; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA app;


ALTER SCHEMA app OWNER TO postgres;

--
-- Name: current_user_id(); Type: FUNCTION; Schema: app; Owner: postgres
--

CREATE FUNCTION app.current_user_id() RETURNS integer
    LANGUAGE sql STABLE
    AS $$
    SELECT user_id FROM app.users WHERE username = current_user;
$$;


ALTER FUNCTION app.current_user_id() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: access_logs; Type: TABLE; Schema: app; Owner: postgres
--

CREATE TABLE app.access_logs (
    log_id integer NOT NULL,
    user_id integer,
    action character varying(50) NOT NULL,
    resource_type character varying(50),
    resource_id integer,
    ip_address inet,
    logged_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE app.access_logs OWNER TO postgres;

--
-- Name: access_logs_log_id_seq; Type: SEQUENCE; Schema: app; Owner: postgres
--

CREATE SEQUENCE app.access_logs_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE app.access_logs_log_id_seq OWNER TO postgres;

--
-- Name: access_logs_log_id_seq; Type: SEQUENCE OWNED BY; Schema: app; Owner: postgres
--

ALTER SEQUENCE app.access_logs_log_id_seq OWNED BY app.access_logs.log_id;


--
-- Name: assignments; Type: TABLE; Schema: app; Owner: postgres
--

CREATE TABLE app.assignments (
    assignment_id integer NOT NULL,
    lesson_id integer,
    title character varying(255) NOT NULL,
    description text,
    due_date timestamp without time zone
);


ALTER TABLE app.assignments OWNER TO postgres;

--
-- Name: assignments_assignment_id_seq; Type: SEQUENCE; Schema: app; Owner: postgres
--

CREATE SEQUENCE app.assignments_assignment_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE app.assignments_assignment_id_seq OWNER TO postgres;

--
-- Name: assignments_assignment_id_seq; Type: SEQUENCE OWNED BY; Schema: app; Owner: postgres
--

ALTER SEQUENCE app.assignments_assignment_id_seq OWNED BY app.assignments.assignment_id;


--
-- Name: certificates; Type: TABLE; Schema: app; Owner: postgres
--

CREATE TABLE app.certificates (
    certificate_id integer NOT NULL,
    user_id integer,
    course_id integer,
    issued_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    certificate_url character varying(255)
);


ALTER TABLE app.certificates OWNER TO postgres;

--
-- Name: certificates_certificate_id_seq; Type: SEQUENCE; Schema: app; Owner: postgres
--

CREATE SEQUENCE app.certificates_certificate_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE app.certificates_certificate_id_seq OWNER TO postgres;

--
-- Name: certificates_certificate_id_seq; Type: SEQUENCE OWNED BY; Schema: app; Owner: postgres
--

ALTER SEQUENCE app.certificates_certificate_id_seq OWNED BY app.certificates.certificate_id;


--
-- Name: course_staff; Type: TABLE; Schema: app; Owner: postgres
--

CREATE TABLE app.course_staff (
    course_id integer NOT NULL,
    user_id integer NOT NULL,
    role_type character varying(20) NOT NULL,
    assigned_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT course_staff_role_type_check CHECK (((role_type)::text = ANY ((ARRAY['author'::character varying, 'teacher'::character varying, 'curator'::character varying])::text[])))
);


ALTER TABLE app.course_staff OWNER TO postgres;

--
-- Name: courses; Type: TABLE; Schema: app; Owner: postgres
--

CREATE TABLE app.courses (
    course_id integer NOT NULL,
    title character varying(255) NOT NULL,
    description text,
    price numeric(10,2),
    status character varying(20) DEFAULT 'draft'::character varying,
    created_by integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    published_at timestamp without time zone,
    CONSTRAINT courses_status_check CHECK (((status)::text = ANY ((ARRAY['draft'::character varying, 'published'::character varying, 'archived'::character varying])::text[])))
);


ALTER TABLE app.courses OWNER TO postgres;

--
-- Name: courses_course_id_seq; Type: SEQUENCE; Schema: app; Owner: postgres
--

CREATE SEQUENCE app.courses_course_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE app.courses_course_id_seq OWNER TO postgres;

--
-- Name: courses_course_id_seq; Type: SEQUENCE OWNED BY; Schema: app; Owner: postgres
--

ALTER SEQUENCE app.courses_course_id_seq OWNED BY app.courses.course_id;


--
-- Name: enrollments; Type: TABLE; Schema: app; Owner: postgres
--

CREATE TABLE app.enrollments (
    enrollment_id integer NOT NULL,
    user_id integer,
    course_id integer,
    enrolled_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    completed_at timestamp without time zone,
    status character varying(20) DEFAULT 'active'::character varying,
    CONSTRAINT enrollments_status_check CHECK (((status)::text = ANY ((ARRAY['active'::character varying, 'completed'::character varying, 'dropped'::character varying])::text[])))
);


ALTER TABLE app.enrollments OWNER TO postgres;

--
-- Name: enrollments_enrollment_id_seq; Type: SEQUENCE; Schema: app; Owner: postgres
--

CREATE SEQUENCE app.enrollments_enrollment_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE app.enrollments_enrollment_id_seq OWNER TO postgres;

--
-- Name: enrollments_enrollment_id_seq; Type: SEQUENCE OWNED BY; Schema: app; Owner: postgres
--

ALTER SEQUENCE app.enrollments_enrollment_id_seq OWNED BY app.enrollments.enrollment_id;


--
-- Name: forum_posts; Type: TABLE; Schema: app; Owner: postgres
--

CREATE TABLE app.forum_posts (
    post_id integer NOT NULL,
    course_id integer,
    user_id integer,
    parent_post_id integer,
    title character varying(200),
    content text NOT NULL,
    is_moderated boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone
);


ALTER TABLE app.forum_posts OWNER TO postgres;

--
-- Name: forum_posts_post_id_seq; Type: SEQUENCE; Schema: app; Owner: postgres
--

CREATE SEQUENCE app.forum_posts_post_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE app.forum_posts_post_id_seq OWNER TO postgres;

--
-- Name: forum_posts_post_id_seq; Type: SEQUENCE OWNED BY; Schema: app; Owner: postgres
--

ALTER SEQUENCE app.forum_posts_post_id_seq OWNED BY app.forum_posts.post_id;


--
-- Name: lessons; Type: TABLE; Schema: app; Owner: postgres
--

CREATE TABLE app.lessons (
    lesson_id integer NOT NULL,
    course_id integer,
    title character varying(255) NOT NULL,
    content text,
    order_number integer NOT NULL,
    type character varying(20) DEFAULT 'video'::character varying,
    CONSTRAINT lessons_type_check CHECK (((type)::text = ANY ((ARRAY['video'::character varying, 'text'::character varying, 'quiz'::character varying, 'assignment'::character varying])::text[])))
);


ALTER TABLE app.lessons OWNER TO postgres;

--
-- Name: lessons_lesson_id_seq; Type: SEQUENCE; Schema: app; Owner: postgres
--

CREATE SEQUENCE app.lessons_lesson_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE app.lessons_lesson_id_seq OWNER TO postgres;

--
-- Name: lessons_lesson_id_seq; Type: SEQUENCE OWNED BY; Schema: app; Owner: postgres
--

ALTER SEQUENCE app.lessons_lesson_id_seq OWNED BY app.lessons.lesson_id;


--
-- Name: permissions; Type: TABLE; Schema: app; Owner: postgres
--

CREATE TABLE app.permissions (
    permission_id integer NOT NULL,
    permission_name character varying(100) NOT NULL,
    resource_type character varying(50) NOT NULL,
    operation character varying(20) NOT NULL
);


ALTER TABLE app.permissions OWNER TO postgres;

--
-- Name: permissions_permission_id_seq; Type: SEQUENCE; Schema: app; Owner: postgres
--

CREATE SEQUENCE app.permissions_permission_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE app.permissions_permission_id_seq OWNER TO postgres;

--
-- Name: permissions_permission_id_seq; Type: SEQUENCE OWNED BY; Schema: app; Owner: postgres
--

ALTER SEQUENCE app.permissions_permission_id_seq OWNED BY app.permissions.permission_id;


--
-- Name: role_permissions; Type: TABLE; Schema: app; Owner: postgres
--

CREATE TABLE app.role_permissions (
    role_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE app.role_permissions OWNER TO postgres;

--
-- Name: roles; Type: TABLE; Schema: app; Owner: postgres
--

CREATE TABLE app.roles (
    role_id integer NOT NULL,
    role_name character varying(255) NOT NULL,
    description text,
    parent_role_id integer
);


ALTER TABLE app.roles OWNER TO postgres;

--
-- Name: roles_role_id_seq; Type: SEQUENCE; Schema: app; Owner: postgres
--

CREATE SEQUENCE app.roles_role_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE app.roles_role_id_seq OWNER TO postgres;

--
-- Name: roles_role_id_seq; Type: SEQUENCE OWNED BY; Schema: app; Owner: postgres
--

ALTER SEQUENCE app.roles_role_id_seq OWNED BY app.roles.role_id;


--
-- Name: sessions; Type: TABLE; Schema: app; Owner: postgres
--

CREATE TABLE app.sessions (
    session_id integer NOT NULL,
    user_id integer,
    token character varying(255) NOT NULL,
    expires_at timestamp without time zone NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE app.sessions OWNER TO postgres;

--
-- Name: sessions_session_id_seq; Type: SEQUENCE; Schema: app; Owner: postgres
--

CREATE SEQUENCE app.sessions_session_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE app.sessions_session_id_seq OWNER TO postgres;

--
-- Name: sessions_session_id_seq; Type: SEQUENCE OWNED BY; Schema: app; Owner: postgres
--

ALTER SEQUENCE app.sessions_session_id_seq OWNED BY app.sessions.session_id;


--
-- Name: submissions; Type: TABLE; Schema: app; Owner: postgres
--

CREATE TABLE app.submissions (
    submission_id integer NOT NULL,
    assignment_id integer,
    user_id integer,
    content text,
    grade integer,
    feedback text,
    submitted_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    graded_at timestamp without time zone,
    graded_by integer,
    CONSTRAINT submissions_grade_check CHECK (((grade >= 0) AND (grade <= 100)))
);


ALTER TABLE app.submissions OWNER TO postgres;

--
-- Name: submissions_submission_id_seq; Type: SEQUENCE; Schema: app; Owner: postgres
--

CREATE SEQUENCE app.submissions_submission_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE app.submissions_submission_id_seq OWNER TO postgres;

--
-- Name: submissions_submission_id_seq; Type: SEQUENCE OWNED BY; Schema: app; Owner: postgres
--

ALTER SEQUENCE app.submissions_submission_id_seq OWNED BY app.submissions.submission_id;


--
-- Name: user_roles; Type: TABLE; Schema: app; Owner: postgres
--

CREATE TABLE app.user_roles (
    user_id integer NOT NULL,
    role_id integer NOT NULL,
    assigned_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    assigned_by integer
);


ALTER TABLE app.user_roles OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: app; Owner: postgres
--

CREATE TABLE app.users (
    user_id integer NOT NULL,
    username character varying(50) NOT NULL,
    email character varying(100) NOT NULL,
    password_hash character varying(255) NOT NULL,
    full_name character varying(100),
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE app.users OWNER TO postgres;

--
-- Name: users_user_id_seq; Type: SEQUENCE; Schema: app; Owner: postgres
--

CREATE SEQUENCE app.users_user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE app.users_user_id_seq OWNER TO postgres;

--
-- Name: users_user_id_seq; Type: SEQUENCE OWNED BY; Schema: app; Owner: postgres
--

ALTER SEQUENCE app.users_user_id_seq OWNED BY app.users.user_id;


--
-- Name: access_logs log_id; Type: DEFAULT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app.access_logs ALTER COLUMN log_id SET DEFAULT nextval('app.access_logs_log_id_seq'::regclass);


--
-- Name: assignments assignment_id; Type: DEFAULT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app.assignments ALTER COLUMN assignment_id SET DEFAULT nextval('app.assignments_assignment_id_seq'::regclass);


--
-- Name: certificates certificate_id; Type: DEFAULT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app.certificates ALTER COLUMN certificate_id SET DEFAULT nextval('app.certificates_certificate_id_seq'::regclass);


--
-- Name: courses course_id; Type: DEFAULT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app.courses ALTER COLUMN course_id SET DEFAULT nextval('app.courses_course_id_seq'::regclass);


--
-- Name: enrollments enrollment_id; Type: DEFAULT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app.enrollments ALTER COLUMN enrollment_id SET DEFAULT nextval('app.enrollments_enrollment_id_seq'::regclass);


--
-- Name: forum_posts post_id; Type: DEFAULT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app.forum_posts ALTER COLUMN post_id SET DEFAULT nextval('app.forum_posts_post_id_seq'::regclass);


--
-- Name: lessons lesson_id; Type: DEFAULT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app.lessons ALTER COLUMN lesson_id SET DEFAULT nextval('app.lessons_lesson_id_seq'::regclass);


--
-- Name: permissions permission_id; Type: DEFAULT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app.permissions ALTER COLUMN permission_id SET DEFAULT nextval('app.permissions_permission_id_seq'::regclass);


--
-- Name: roles role_id; Type: DEFAULT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app.roles ALTER COLUMN role_id SET DEFAULT nextval('app.roles_role_id_seq'::regclass);


--
-- Name: sessions session_id; Type: DEFAULT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app.sessions ALTER COLUMN session_id SET DEFAULT nextval('app.sessions_session_id_seq'::regclass);


--
-- Name: submissions submission_id; Type: DEFAULT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app.submissions ALTER COLUMN submission_id SET DEFAULT nextval('app.submissions_submission_id_seq'::regclass);


--
-- Name: users user_id; Type: DEFAULT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app.users ALTER COLUMN user_id SET DEFAULT nextval('app.users_user_id_seq'::regclass);


--
-- Data for Name: access_logs; Type: TABLE DATA; Schema: app; Owner: postgres
--

COPY app.access_logs (log_id, user_id, action, resource_type, resource_id, ip_address, logged_at) FROM stdin;
\.


--
-- Data for Name: assignments; Type: TABLE DATA; Schema: app; Owner: postgres
--

COPY app.assignments (assignment_id, lesson_id, title, description, due_date) FROM stdin;
1	1	Установка Python	Напишите инструкцию по установке	\N
2	2	Практика с переменными	Решите 5 задач	\N
3	3	Основы Java	написать рабочий софт	\N
\.


--
-- Data for Name: certificates; Type: TABLE DATA; Schema: app; Owner: postgres
--

COPY app.certificates (certificate_id, user_id, course_id, issued_at, certificate_url) FROM stdin;
\.


--
-- Data for Name: course_staff; Type: TABLE DATA; Schema: app; Owner: postgres
--

COPY app.course_staff (course_id, user_id, role_type, assigned_at) FROM stdin;
1	3	teacher	2026-04-05 11:17:44.310175
1	5	curator	2026-04-05 11:17:44.310175
2	4	author	2026-04-05 11:17:44.310175
2	3	teacher	2026-04-05 11:17:44.310175
\.


--
-- Data for Name: courses; Type: TABLE DATA; Schema: app; Owner: postgres
--

COPY app.courses (course_id, title, description, price, status, created_by, created_at, published_at) FROM stdin;
1	Основы Python	Введение в программирование	5000.00	published	3	2026-04-05 11:17:38.860826	\N
2	Веб-разработка	HTML/CSS/JS	7000.00	published	4	2026-04-05 11:17:38.860826	\N
3	Базы данных	SQL и NoSQL	6000.00	draft	3	2026-04-05 11:17:38.860826	\N
4	Java-разработчик	Java-junior	8000.00	archived	5	2026-04-05 11:17:38.860826	\N
\.


--
-- Data for Name: enrollments; Type: TABLE DATA; Schema: app; Owner: postgres
--

COPY app.enrollments (enrollment_id, user_id, course_id, enrolled_at, completed_at, status) FROM stdin;
1	1	1	2026-04-05 11:17:42.824026	\N	active
2	1	2	2026-04-05 11:17:42.824026	\N	active
3	2	3	2026-04-05 11:17:42.824026	\N	active
4	3	4	2026-04-05 11:17:42.824026	\N	active
5	4	1	2026-04-05 11:17:42.824026	\N	active
\.


--
-- Data for Name: forum_posts; Type: TABLE DATA; Schema: app; Owner: postgres
--

COPY app.forum_posts (post_id, course_id, user_id, parent_post_id, title, content, is_moderated, created_at, updated_at) FROM stdin;
1	1	1	\N	Вопрос по Python	Как установить?	f	2026-04-05 17:47:04.359588	\N
\.


--
-- Data for Name: lessons; Type: TABLE DATA; Schema: app; Owner: postgres
--

COPY app.lessons (lesson_id, course_id, title, content, order_number, type) FROM stdin;
1	1	Установка Python	\N	1	video
2	1	Переменные и типы данных	\N	2	video
3	2	HTML основы	\N	1	video
4	3	Java-разработчик	\N	2	video
\.


--
-- Data for Name: permissions; Type: TABLE DATA; Schema: app; Owner: postgres
--

COPY app.permissions (permission_id, permission_name, resource_type, operation) FROM stdin;
\.


--
-- Data for Name: role_permissions; Type: TABLE DATA; Schema: app; Owner: postgres
--

COPY app.role_permissions (role_id, permission_id) FROM stdin;
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: app; Owner: postgres
--

COPY app.roles (role_id, role_name, description, parent_role_id) FROM stdin;
\.


--
-- Data for Name: sessions; Type: TABLE DATA; Schema: app; Owner: postgres
--

COPY app.sessions (session_id, user_id, token, expires_at, created_at) FROM stdin;
\.


--
-- Data for Name: submissions; Type: TABLE DATA; Schema: app; Owner: postgres
--

COPY app.submissions (submission_id, assignment_id, user_id, content, grade, feedback, submitted_at, graded_at, graded_by) FROM stdin;
1	1	1	Установил Python 3.9...	\N	\N	2026-04-05 11:17:48.767122	\N	\N
2	2	1	Решения...	\N	\N	2026-04-05 11:17:48.767122	\N	\N
3	3	2	Написание...	\N	\N	2026-04-05 11:17:48.767122	\N	\N
4	1	1	Моё решение	\N	\N	2026-04-05 17:47:23.682331	\N	\N
\.


--
-- Data for Name: user_roles; Type: TABLE DATA; Schema: app; Owner: postgres
--

COPY app.user_roles (user_id, role_id, assigned_at, assigned_by) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: app; Owner: postgres
--



--
-- Name: access_logs_log_id_seq; Type: SEQUENCE SET; Schema: app; Owner: postgres
--

SELECT pg_catalog.setval('app.access_logs_log_id_seq', 1, false);


--
-- Name: assignments_assignment_id_seq; Type: SEQUENCE SET; Schema: app; Owner: postgres
--

SELECT pg_catalog.setval('app.assignments_assignment_id_seq', 3, true);


--
-- Name: certificates_certificate_id_seq; Type: SEQUENCE SET; Schema: app; Owner: postgres
--

SELECT pg_catalog.setval('app.certificates_certificate_id_seq', 1, false);


--
-- Name: courses_course_id_seq; Type: SEQUENCE SET; Schema: app; Owner: postgres
--

SELECT pg_catalog.setval('app.courses_course_id_seq', 4, true);


--
-- Name: enrollments_enrollment_id_seq; Type: SEQUENCE SET; Schema: app; Owner: postgres
--

SELECT pg_catalog.setval('app.enrollments_enrollment_id_seq', 5, true);


--
-- Name: forum_posts_post_id_seq; Type: SEQUENCE SET; Schema: app; Owner: postgres
--

SELECT pg_catalog.setval('app.forum_posts_post_id_seq', 1, true);


--
-- Name: lessons_lesson_id_seq; Type: SEQUENCE SET; Schema: app; Owner: postgres
--

SELECT pg_catalog.setval('app.lessons_lesson_id_seq', 4, true);


--
-- Name: permissions_permission_id_seq; Type: SEQUENCE SET; Schema: app; Owner: postgres
--

SELECT pg_catalog.setval('app.permissions_permission_id_seq', 1, false);


--
-- Name: roles_role_id_seq; Type: SEQUENCE SET; Schema: app; Owner: postgres
--

SELECT pg_catalog.setval('app.roles_role_id_seq', 1, false);


--
-- Name: sessions_session_id_seq; Type: SEQUENCE SET; Schema: app; Owner: postgres
--

SELECT pg_catalog.setval('app.sessions_session_id_seq', 1, false);


--
-- Name: submissions_submission_id_seq; Type: SEQUENCE SET; Schema: app; Owner: postgres
--

SELECT pg_catalog.setval('app.submissions_submission_id_seq', 4, true);


--
-- Name: users_user_id_seq; Type: SEQUENCE SET; Schema: app; Owner: postgres
--

SELECT pg_catalog.setval('app.users_user_id_seq', 8, true);


--
-- Name: access_logs access_logs_pkey; Type: CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app.access_logs
    ADD CONSTRAINT access_logs_pkey PRIMARY KEY (log_id);


--
-- Name: assignments assignments_pkey; Type: CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app.assignments
    ADD CONSTRAINT assignments_pkey PRIMARY KEY (assignment_id);


--
-- Name: certificates certificates_pkey; Type: CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app.certificates
    ADD CONSTRAINT certificates_pkey PRIMARY KEY (certificate_id);


--
-- Name: course_staff course_staff_pkey; Type: CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app.course_staff
    ADD CONSTRAINT course_staff_pkey PRIMARY KEY (course_id, user_id, role_type);


--
-- Name: courses courses_pkey; Type: CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app.courses
    ADD CONSTRAINT courses_pkey PRIMARY KEY (course_id);


--
-- Name: enrollments enrollments_pkey; Type: CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app.enrollments
    ADD CONSTRAINT enrollments_pkey PRIMARY KEY (enrollment_id);


--
-- Name: enrollments enrollments_user_id_course_id_key; Type: CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app.enrollments
    ADD CONSTRAINT enrollments_user_id_course_id_key UNIQUE (user_id, course_id);


--
-- Name: forum_posts forum_posts_pkey; Type: CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app.forum_posts
    ADD CONSTRAINT forum_posts_pkey PRIMARY KEY (post_id);


--
-- Name: lessons lessons_pkey; Type: CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app.lessons
    ADD CONSTRAINT lessons_pkey PRIMARY KEY (lesson_id);


--
-- Name: permissions permissions_permission_name_key; Type: CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app.permissions
    ADD CONSTRAINT permissions_permission_name_key UNIQUE (permission_name);


--
-- Name: permissions permissions_pkey; Type: CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app.permissions
    ADD CONSTRAINT permissions_pkey PRIMARY KEY (permission_id);


--
-- Name: role_permissions role_permissions_pkey; Type: CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app.role_permissions
    ADD CONSTRAINT role_permissions_pkey PRIMARY KEY (role_id, permission_id);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (role_id);


--
-- Name: roles roles_role_name_key; Type: CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app.roles
    ADD CONSTRAINT roles_role_name_key UNIQUE (role_name);


--
-- Name: sessions sessions_pkey; Type: CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app.sessions
    ADD CONSTRAINT sessions_pkey PRIMARY KEY (session_id);


--
-- Name: sessions sessions_token_key; Type: CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app.sessions
    ADD CONSTRAINT sessions_token_key UNIQUE (token);


--
-- Name: submissions submissions_pkey; Type: CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app.submissions
    ADD CONSTRAINT submissions_pkey PRIMARY KEY (submission_id);


--
-- Name: user_roles user_roles_pkey; Type: CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app.user_roles
    ADD CONSTRAINT user_roles_pkey PRIMARY KEY (user_id, role_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (user_id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: access_logs access_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app.access_logs
    ADD CONSTRAINT access_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES app.users(user_id);


--
-- Name: assignments assignments_lesson_id_fkey; Type: FK CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app.assignments
    ADD CONSTRAINT assignments_lesson_id_fkey FOREIGN KEY (lesson_id) REFERENCES app.lessons(lesson_id);


--
-- Name: certificates certificates_course_id_fkey; Type: FK CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app.certificates
    ADD CONSTRAINT certificates_course_id_fkey FOREIGN KEY (course_id) REFERENCES app.courses(course_id);


--
-- Name: certificates certificates_user_id_fkey; Type: FK CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app.certificates
    ADD CONSTRAINT certificates_user_id_fkey FOREIGN KEY (user_id) REFERENCES app.users(user_id);


--
-- Name: course_staff course_staff_course_id_fkey; Type: FK CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app.course_staff
    ADD CONSTRAINT course_staff_course_id_fkey FOREIGN KEY (course_id) REFERENCES app.courses(course_id);


--
-- Name: course_staff course_staff_user_id_fkey; Type: FK CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app.course_staff
    ADD CONSTRAINT course_staff_user_id_fkey FOREIGN KEY (user_id) REFERENCES app.users(user_id);


--
-- Name: courses courses_created_by_fkey; Type: FK CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app.courses
    ADD CONSTRAINT courses_created_by_fkey FOREIGN KEY (created_by) REFERENCES app.users(user_id);


--
-- Name: enrollments enrollments_course_id_fkey; Type: FK CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app.enrollments
    ADD CONSTRAINT enrollments_course_id_fkey FOREIGN KEY (course_id) REFERENCES app.courses(course_id);


--
-- Name: enrollments enrollments_user_id_fkey; Type: FK CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app.enrollments
    ADD CONSTRAINT enrollments_user_id_fkey FOREIGN KEY (user_id) REFERENCES app.users(user_id);


--
-- Name: forum_posts forum_posts_course_id_fkey; Type: FK CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app.forum_posts
    ADD CONSTRAINT forum_posts_course_id_fkey FOREIGN KEY (course_id) REFERENCES app.courses(course_id);


--
-- Name: forum_posts forum_posts_parent_post_id_fkey; Type: FK CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app.forum_posts
    ADD CONSTRAINT forum_posts_parent_post_id_fkey FOREIGN KEY (parent_post_id) REFERENCES app.forum_posts(post_id);


--
-- Name: forum_posts forum_posts_user_id_fkey; Type: FK CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app.forum_posts
    ADD CONSTRAINT forum_posts_user_id_fkey FOREIGN KEY (user_id) REFERENCES app.users(user_id);


--
-- Name: lessons lessons_course_id_fkey; Type: FK CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app.lessons
    ADD CONSTRAINT lessons_course_id_fkey FOREIGN KEY (course_id) REFERENCES app.courses(course_id);


--
-- Name: role_permissions role_permissions_permission_id_fkey; Type: FK CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app.role_permissions
    ADD CONSTRAINT role_permissions_permission_id_fkey FOREIGN KEY (permission_id) REFERENCES app.permissions(permission_id) ON DELETE CASCADE;


--
-- Name: role_permissions role_permissions_role_id_fkey; Type: FK CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app.role_permissions
    ADD CONSTRAINT role_permissions_role_id_fkey FOREIGN KEY (role_id) REFERENCES app.roles(role_id) ON DELETE CASCADE;


--
-- Name: roles roles_parent_role_id_fkey; Type: FK CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app.roles
    ADD CONSTRAINT roles_parent_role_id_fkey FOREIGN KEY (parent_role_id) REFERENCES app.roles(role_id);


--
-- Name: sessions sessions_user_id_fkey; Type: FK CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app.sessions
    ADD CONSTRAINT sessions_user_id_fkey FOREIGN KEY (user_id) REFERENCES app.users(user_id);


--
-- Name: submissions submissions_assignment_id_fkey; Type: FK CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app.submissions
    ADD CONSTRAINT submissions_assignment_id_fkey FOREIGN KEY (assignment_id) REFERENCES app.assignments(assignment_id);


--
-- Name: submissions submissions_graded_by_fkey; Type: FK CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app.submissions
    ADD CONSTRAINT submissions_graded_by_fkey FOREIGN KEY (graded_by) REFERENCES app.users(user_id);


--
-- Name: submissions submissions_user_id_fkey; Type: FK CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app.submissions
    ADD CONSTRAINT submissions_user_id_fkey FOREIGN KEY (user_id) REFERENCES app.users(user_id);


--
-- Name: user_roles user_roles_assigned_by_fkey; Type: FK CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app.user_roles
    ADD CONSTRAINT user_roles_assigned_by_fkey FOREIGN KEY (assigned_by) REFERENCES app.users(user_id);


--
-- Name: user_roles user_roles_role_id_fkey; Type: FK CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app.user_roles
    ADD CONSTRAINT user_roles_role_id_fkey FOREIGN KEY (role_id) REFERENCES app.roles(role_id) ON DELETE CASCADE;


--
-- Name: user_roles user_roles_user_id_fkey; Type: FK CONSTRAINT; Schema: app; Owner: postgres
--

ALTER TABLE ONLY app.user_roles
    ADD CONSTRAINT user_roles_user_id_fkey FOREIGN KEY (user_id) REFERENCES app.users(user_id) ON DELETE CASCADE;


--
-- Name: assignments; Type: ROW SECURITY; Schema: app; Owner: postgres
--

ALTER TABLE app.assignments ENABLE ROW LEVEL SECURITY;

--
-- Name: assignments assignments_admin_all; Type: POLICY; Schema: app; Owner: postgres
--

CREATE POLICY assignments_admin_all ON app.assignments TO app_admin USING (true);


--
-- Name: assignments assignments_moderator_admin_select; Type: POLICY; Schema: app; Owner: postgres
--

CREATE POLICY assignments_moderator_admin_select ON app.assignments FOR SELECT TO app_admin, app_moderator USING (true);


--
-- Name: assignments assignments_staff_select; Type: POLICY; Schema: app; Owner: postgres
--

CREATE POLICY assignments_staff_select ON app.assignments FOR SELECT TO app_curator, app_teacher, app_author USING ((EXISTS ( SELECT 1
   FROM (app.lessons l
     JOIN app.course_staff cs ON ((cs.course_id = l.course_id)))
  WHERE ((l.lesson_id = assignments.lesson_id) AND (cs.user_id = app.current_user_id())))));


--
-- Name: assignments assignments_student_select; Type: POLICY; Schema: app; Owner: postgres
--

CREATE POLICY assignments_student_select ON app.assignments FOR SELECT TO app_student USING ((EXISTS ( SELECT 1
   FROM (app.lessons l
     JOIN app.enrollments e ON ((e.course_id = l.course_id)))
  WHERE ((l.lesson_id = assignments.lesson_id) AND (e.user_id = app.current_user_id()) AND ((e.status)::text = 'active'::text)))));


--
-- Name: assignments assignments_teacher_author_manage; Type: POLICY; Schema: app; Owner: postgres
--

CREATE POLICY assignments_teacher_author_manage ON app.assignments TO app_teacher, app_author USING ((EXISTS ( SELECT 1
   FROM (app.lessons l
     JOIN app.course_staff cs ON ((cs.course_id = l.course_id)))
  WHERE ((l.lesson_id = assignments.lesson_id) AND (cs.user_id = app.current_user_id()) AND ((cs.role_type)::text = ANY ((ARRAY['teacher'::character varying, 'author'::character varying])::text[]))))));


--
-- Name: certificates; Type: ROW SECURITY; Schema: app; Owner: postgres
--

ALTER TABLE app.certificates ENABLE ROW LEVEL SECURITY;

--
-- Name: certificates certificates_admin_all; Type: POLICY; Schema: app; Owner: postgres
--

CREATE POLICY certificates_admin_all ON app.certificates TO app_admin USING (true);


--
-- Name: certificates certificates_moderator_admin_select; Type: POLICY; Schema: app; Owner: postgres
--

CREATE POLICY certificates_moderator_admin_select ON app.certificates FOR SELECT TO app_admin, app_moderator USING (true);


--
-- Name: certificates certificates_self_select; Type: POLICY; Schema: app; Owner: postgres
--

CREATE POLICY certificates_self_select ON app.certificates FOR SELECT TO app_student, app_curator, app_teacher, app_author USING ((user_id = app.current_user_id()));


--
-- Name: course_staff; Type: ROW SECURITY; Schema: app; Owner: postgres
--

ALTER TABLE app.course_staff ENABLE ROW LEVEL SECURITY;

--
-- Name: course_staff course_staff_admin_all; Type: POLICY; Schema: app; Owner: postgres
--

CREATE POLICY course_staff_admin_all ON app.course_staff TO app_admin USING (true);


--
-- Name: course_staff course_staff_author_manage; Type: POLICY; Schema: app; Owner: postgres
--

CREATE POLICY course_staff_author_manage ON app.course_staff TO app_author USING ((EXISTS ( SELECT 1
   FROM app.course_staff cs2
  WHERE ((cs2.user_id = app.current_user_id()) AND (cs2.course_id = course_staff.course_id) AND ((cs2.role_type)::text = 'author'::text)))));


--
-- Name: course_staff course_staff_moderator_admin_select; Type: POLICY; Schema: app; Owner: postgres
--

CREATE POLICY course_staff_moderator_admin_select ON app.course_staff FOR SELECT TO app_admin, app_moderator USING (true);


--
-- Name: course_staff course_staff_self_select; Type: POLICY; Schema: app; Owner: postgres
--

CREATE POLICY course_staff_self_select ON app.course_staff FOR SELECT TO app_curator, app_teacher, app_author USING ((EXISTS ( SELECT 1
   FROM app.course_staff cs2
  WHERE ((cs2.user_id = app.current_user_id()) AND (cs2.course_id = course_staff.course_id)))));


--
-- Name: courses; Type: ROW SECURITY; Schema: app; Owner: postgres
--

ALTER TABLE app.courses ENABLE ROW LEVEL SECURITY;

--
-- Name: courses courses_admin_all; Type: POLICY; Schema: app; Owner: postgres
--

CREATE POLICY courses_admin_all ON app.courses TO app_admin USING (true);


--
-- Name: courses courses_author_delete; Type: POLICY; Schema: app; Owner: postgres
--

CREATE POLICY courses_author_delete ON app.courses FOR DELETE TO app_author USING ((created_by = app.current_user_id()));


--
-- Name: courses courses_author_insert; Type: POLICY; Schema: app; Owner: postgres
--

CREATE POLICY courses_author_insert ON app.courses FOR INSERT TO app_author WITH CHECK ((created_by = app.current_user_id()));


--
-- Name: courses courses_author_select; Type: POLICY; Schema: app; Owner: postgres
--

CREATE POLICY courses_author_select ON app.courses FOR SELECT TO app_author USING ((EXISTS ( SELECT 1
   FROM app.course_staff cs
  WHERE ((cs.user_id = app.current_user_id()) AND (cs.course_id = courses.course_id) AND ((cs.role_type)::text = 'author'::text)))));


--
-- Name: courses courses_author_update_delete; Type: POLICY; Schema: app; Owner: postgres
--

CREATE POLICY courses_author_update_delete ON app.courses FOR UPDATE TO app_author USING ((created_by = app.current_user_id()));


--
-- Name: courses courses_curator_select; Type: POLICY; Schema: app; Owner: postgres
--

CREATE POLICY courses_curator_select ON app.courses FOR SELECT TO app_curator USING ((EXISTS ( SELECT 1
   FROM app.course_staff cs
  WHERE ((cs.user_id = app.current_user_id()) AND (cs.course_id = courses.course_id)))));


--
-- Name: courses courses_guest_select; Type: POLICY; Schema: app; Owner: postgres
--

CREATE POLICY courses_guest_select ON app.courses FOR SELECT TO app_guest USING (((status)::text = 'published'::text));


--
-- Name: courses courses_moderator_admin_select; Type: POLICY; Schema: app; Owner: postgres
--

CREATE POLICY courses_moderator_admin_select ON app.courses FOR SELECT TO app_admin, app_moderator USING (true);


--
-- Name: courses courses_student_select; Type: POLICY; Schema: app; Owner: postgres
--

CREATE POLICY courses_student_select ON app.courses FOR SELECT TO app_student USING ((EXISTS ( SELECT 1
   FROM app.enrollments e
  WHERE ((e.user_id = app.current_user_id()) AND (e.course_id = courses.course_id) AND ((e.status)::text = 'active'::text)))));


--
-- Name: courses courses_teacher_select; Type: POLICY; Schema: app; Owner: postgres
--

CREATE POLICY courses_teacher_select ON app.courses FOR SELECT TO app_teacher USING ((EXISTS ( SELECT 1
   FROM app.course_staff cs
  WHERE ((cs.user_id = app.current_user_id()) AND (cs.course_id = courses.course_id) AND ((cs.role_type)::text = 'teacher'::text)))));


--
-- Name: forum_posts; Type: ROW SECURITY; Schema: app; Owner: postgres
--

ALTER TABLE app.forum_posts ENABLE ROW LEVEL SECURITY;

--
-- Name: forum_posts forum_posts_admin_all; Type: POLICY; Schema: app; Owner: postgres
--

CREATE POLICY forum_posts_admin_all ON app.forum_posts TO app_admin USING (true);


--
-- Name: forum_posts forum_posts_insert_all; Type: POLICY; Schema: app; Owner: postgres
--

CREATE POLICY forum_posts_insert_all ON app.forum_posts FOR INSERT TO app_student, app_curator, app_teacher, app_author, app_admin, app_moderator WITH CHECK (true);


--
-- Name: forum_posts forum_posts_insert_moderator_admin; Type: POLICY; Schema: app; Owner: postgres
--

CREATE POLICY forum_posts_insert_moderator_admin ON app.forum_posts FOR INSERT TO app_admin, app_moderator WITH CHECK (true);


--
-- Name: forum_posts forum_posts_insert_student; Type: POLICY; Schema: app; Owner: postgres
--

CREATE POLICY forum_posts_insert_student ON app.forum_posts FOR INSERT TO app_student WITH CHECK ((EXISTS ( SELECT 1
   FROM app.enrollments e
  WHERE ((e.user_id = app.current_user_id()) AND (e.course_id = forum_posts.course_id)))));


--
-- Name: forum_posts forum_posts_insert_teacher_author_curator; Type: POLICY; Schema: app; Owner: postgres
--

CREATE POLICY forum_posts_insert_teacher_author_curator ON app.forum_posts FOR INSERT TO app_curator, app_teacher, app_author WITH CHECK ((EXISTS ( SELECT 1
   FROM app.course_staff cs
  WHERE ((cs.user_id = app.current_user_id()) AND (cs.course_id = forum_posts.course_id)))));


--
-- Name: forum_posts forum_posts_moderator_all; Type: POLICY; Schema: app; Owner: postgres
--

CREATE POLICY forum_posts_moderator_all ON app.forum_posts TO app_moderator USING (true);


--
-- Name: forum_posts forum_posts_select_all; Type: POLICY; Schema: app; Owner: postgres
--

CREATE POLICY forum_posts_select_all ON app.forum_posts FOR SELECT TO app_guest, app_student, app_curator, app_teacher, app_author, app_admin, app_moderator USING (true);


--
-- Name: forum_posts forum_posts_self_delete; Type: POLICY; Schema: app; Owner: postgres
--

CREATE POLICY forum_posts_self_delete ON app.forum_posts FOR DELETE TO app_student, app_curator, app_teacher, app_author USING ((user_id = app.current_user_id()));


--
-- Name: forum_posts forum_posts_self_update_delete; Type: POLICY; Schema: app; Owner: postgres
--

CREATE POLICY forum_posts_self_update_delete ON app.forum_posts FOR UPDATE TO app_student, app_curator, app_teacher, app_author USING ((user_id = app.current_user_id()));


--
-- Name: lessons; Type: ROW SECURITY; Schema: app; Owner: postgres
--

ALTER TABLE app.lessons ENABLE ROW LEVEL SECURITY;

--
-- Name: lessons lessons_admin_all; Type: POLICY; Schema: app; Owner: postgres
--

CREATE POLICY lessons_admin_all ON app.lessons TO app_admin USING (true);


--
-- Name: lessons lessons_guest_select; Type: POLICY; Schema: app; Owner: postgres
--

CREATE POLICY lessons_guest_select ON app.lessons FOR SELECT TO app_guest USING ((EXISTS ( SELECT 1
   FROM app.courses c
  WHERE ((c.course_id = lessons.course_id) AND ((c.status)::text = 'published'::text)))));


--
-- Name: lessons lessons_moderator_admin_select; Type: POLICY; Schema: app; Owner: postgres
--

CREATE POLICY lessons_moderator_admin_select ON app.lessons FOR SELECT TO app_admin, app_moderator USING (true);


--
-- Name: lessons lessons_staff_select; Type: POLICY; Schema: app; Owner: postgres
--

CREATE POLICY lessons_staff_select ON app.lessons FOR SELECT TO app_curator, app_teacher, app_author USING ((EXISTS ( SELECT 1
   FROM app.course_staff cs
  WHERE ((cs.user_id = app.current_user_id()) AND (cs.course_id = lessons.course_id)))));


--
-- Name: lessons lessons_student_select; Type: POLICY; Schema: app; Owner: postgres
--

CREATE POLICY lessons_student_select ON app.lessons FOR SELECT TO app_student USING ((EXISTS ( SELECT 1
   FROM app.enrollments e
  WHERE ((e.user_id = app.current_user_id()) AND (e.course_id = lessons.course_id) AND ((e.status)::text = 'active'::text)))));


--
-- Name: lessons lessons_teacher_author_manage; Type: POLICY; Schema: app; Owner: postgres
--

CREATE POLICY lessons_teacher_author_manage ON app.lessons TO app_teacher, app_author USING ((EXISTS ( SELECT 1
   FROM app.course_staff cs
  WHERE ((cs.user_id = app.current_user_id()) AND (cs.course_id = lessons.course_id) AND ((cs.role_type)::text = ANY ((ARRAY['teacher'::character varying, 'author'::character varying])::text[]))))));


--
-- Name: submissions; Type: ROW SECURITY; Schema: app; Owner: postgres
--

ALTER TABLE app.submissions ENABLE ROW LEVEL SECURITY;

--
-- Name: submissions submissions_admin_all; Type: POLICY; Schema: app; Owner: postgres
--

CREATE POLICY submissions_admin_all ON app.submissions TO app_admin USING (true);


--
-- Name: submissions submissions_moderator_admin_select; Type: POLICY; Schema: app; Owner: postgres
--

CREATE POLICY submissions_moderator_admin_select ON app.submissions FOR SELECT TO app_admin, app_moderator USING (true);


--
-- Name: submissions submissions_staff_select; Type: POLICY; Schema: app; Owner: postgres
--

CREATE POLICY submissions_staff_select ON app.submissions FOR SELECT TO app_curator, app_teacher, app_author USING ((EXISTS ( SELECT 1
   FROM ((app.assignments a
     JOIN app.lessons l ON ((l.lesson_id = a.lesson_id)))
     JOIN app.course_staff cs ON ((cs.course_id = l.course_id)))
  WHERE ((a.assignment_id = submissions.assignment_id) AND (cs.user_id = app.current_user_id())))));


--
-- Name: submissions submissions_student_insert; Type: POLICY; Schema: app; Owner: postgres
--

CREATE POLICY submissions_student_insert ON app.submissions FOR INSERT TO app_student WITH CHECK (((user_id = app.current_user_id()) AND (EXISTS ( SELECT 1
   FROM ((app.assignments a
     JOIN app.lessons l ON ((l.lesson_id = a.lesson_id)))
     JOIN app.enrollments e ON ((e.course_id = l.course_id)))
  WHERE ((a.assignment_id = submissions.assignment_id) AND (e.user_id = app.current_user_id()) AND ((e.status)::text = 'active'::text)))) AND (graded_at IS NULL)));


--
-- Name: submissions submissions_student_select; Type: POLICY; Schema: app; Owner: postgres
--

CREATE POLICY submissions_student_select ON app.submissions FOR SELECT TO app_student USING ((user_id = app.current_user_id()));


--
-- Name: submissions submissions_student_update; Type: POLICY; Schema: app; Owner: postgres
--

CREATE POLICY submissions_student_update ON app.submissions FOR UPDATE TO app_student USING (((user_id = app.current_user_id()) AND (graded_at IS NULL))) WITH CHECK (((user_id = app.current_user_id()) AND (graded_at IS NULL)));


--
-- Name: users; Type: ROW SECURITY; Schema: app; Owner: postgres
--

ALTER TABLE app.users ENABLE ROW LEVEL SECURITY;

--
-- Name: users users_admin_all; Type: POLICY; Schema: app; Owner: postgres
--

CREATE POLICY users_admin_all ON app.users TO app_admin USING (true);


--
-- Name: users users_analyst_admin_select; Type: POLICY; Schema: app; Owner: postgres
--

CREATE POLICY users_analyst_admin_select ON app.users FOR SELECT TO app_analyst, app_admin USING (true);


--
-- Name: users users_moderator_update_active; Type: POLICY; Schema: app; Owner: postgres
--

CREATE POLICY users_moderator_update_active ON app.users FOR UPDATE TO app_moderator USING (true) WITH CHECK (true);


--
-- Name: users users_self_select; Type: POLICY; Schema: app; Owner: postgres
--

CREATE POLICY users_self_select ON app.users FOR SELECT TO app_student, app_curator, app_teacher, app_author, app_moderator USING (((username)::text = CURRENT_USER));


--
-- Name: users users_self_update; Type: POLICY; Schema: app; Owner: postgres
--

CREATE POLICY users_self_update ON app.users FOR UPDATE TO app_student, app_curator, app_teacher, app_author, app_moderator USING (((username)::text = CURRENT_USER)) WITH CHECK (((username)::text = CURRENT_USER));


--
-- Name: SCHEMA app; Type: ACL; Schema: -; Owner: postgres
--

GRANT USAGE ON SCHEMA app TO app_guest;
GRANT USAGE ON SCHEMA app TO app_student;
GRANT USAGE ON SCHEMA app TO app_curator;
GRANT USAGE ON SCHEMA app TO app_teacher;
GRANT USAGE ON SCHEMA app TO app_author;
GRANT USAGE ON SCHEMA app TO app_moderator;
GRANT USAGE ON SCHEMA app TO app_analyst;
GRANT ALL ON SCHEMA app TO app_admin;


--
-- Name: TABLE access_logs; Type: ACL; Schema: app; Owner: postgres
--

GRANT SELECT ON TABLE app.access_logs TO app_moderator;
GRANT ALL ON TABLE app.access_logs TO app_admin;


--
-- Name: SEQUENCE access_logs_log_id_seq; Type: ACL; Schema: app; Owner: postgres
--

GRANT ALL ON SEQUENCE app.access_logs_log_id_seq TO app_admin;


--
-- Name: TABLE assignments; Type: ACL; Schema: app; Owner: postgres
--

GRANT SELECT ON TABLE app.assignments TO app_student;
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE app.assignments TO app_teacher;
GRANT SELECT ON TABLE app.assignments TO app_moderator;
GRANT ALL ON TABLE app.assignments TO app_admin;
GRANT SELECT ON TABLE app.assignments TO app_curator;
GRANT SELECT ON TABLE app.assignments TO app_author;


--
-- Name: SEQUENCE assignments_assignment_id_seq; Type: ACL; Schema: app; Owner: postgres
--

GRANT USAGE ON SEQUENCE app.assignments_assignment_id_seq TO app_teacher;
GRANT ALL ON SEQUENCE app.assignments_assignment_id_seq TO app_admin;


--
-- Name: TABLE certificates; Type: ACL; Schema: app; Owner: postgres
--

GRANT SELECT ON TABLE app.certificates TO app_student;
GRANT SELECT ON TABLE app.certificates TO app_moderator;
GRANT ALL ON TABLE app.certificates TO app_admin;
GRANT SELECT ON TABLE app.certificates TO app_curator;
GRANT SELECT ON TABLE app.certificates TO app_teacher;
GRANT SELECT ON TABLE app.certificates TO app_author;


--
-- Name: SEQUENCE certificates_certificate_id_seq; Type: ACL; Schema: app; Owner: postgres
--

GRANT ALL ON SEQUENCE app.certificates_certificate_id_seq TO app_admin;


--
-- Name: TABLE course_staff; Type: ACL; Schema: app; Owner: postgres
--

GRANT SELECT ON TABLE app.course_staff TO app_curator;
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE app.course_staff TO app_author;
GRANT SELECT ON TABLE app.course_staff TO app_moderator;
GRANT ALL ON TABLE app.course_staff TO app_admin;
GRANT SELECT ON TABLE app.course_staff TO app_teacher;


--
-- Name: TABLE courses; Type: ACL; Schema: app; Owner: postgres
--

GRANT SELECT ON TABLE app.courses TO app_student;
GRANT INSERT,DELETE,UPDATE ON TABLE app.courses TO app_author;
GRANT SELECT ON TABLE app.courses TO app_moderator;
GRANT ALL ON TABLE app.courses TO app_admin;


--
-- Name: COLUMN courses.course_id; Type: ACL; Schema: app; Owner: postgres
--

GRANT SELECT(course_id) ON TABLE app.courses TO app_guest;


--
-- Name: COLUMN courses.title; Type: ACL; Schema: app; Owner: postgres
--

GRANT SELECT(title) ON TABLE app.courses TO app_guest;


--
-- Name: COLUMN courses.description; Type: ACL; Schema: app; Owner: postgres
--

GRANT SELECT(description) ON TABLE app.courses TO app_guest;


--
-- Name: COLUMN courses.price; Type: ACL; Schema: app; Owner: postgres
--

GRANT SELECT(price) ON TABLE app.courses TO app_guest;


--
-- Name: COLUMN courses.status; Type: ACL; Schema: app; Owner: postgres
--

GRANT SELECT(status) ON TABLE app.courses TO app_guest;


--
-- Name: COLUMN courses.created_at; Type: ACL; Schema: app; Owner: postgres
--

GRANT SELECT(created_at) ON TABLE app.courses TO app_guest;


--
-- Name: SEQUENCE courses_course_id_seq; Type: ACL; Schema: app; Owner: postgres
--

GRANT USAGE ON SEQUENCE app.courses_course_id_seq TO app_author;
GRANT ALL ON SEQUENCE app.courses_course_id_seq TO app_admin;


--
-- Name: TABLE enrollments; Type: ACL; Schema: app; Owner: postgres
--

GRANT SELECT ON TABLE app.enrollments TO app_moderator;
GRANT ALL ON TABLE app.enrollments TO app_admin;
GRANT SELECT ON TABLE app.enrollments TO app_student;
GRANT SELECT ON TABLE app.enrollments TO app_curator;
GRANT SELECT ON TABLE app.enrollments TO app_teacher;
GRANT SELECT ON TABLE app.enrollments TO app_author;


--
-- Name: SEQUENCE enrollments_enrollment_id_seq; Type: ACL; Schema: app; Owner: postgres
--

GRANT ALL ON SEQUENCE app.enrollments_enrollment_id_seq TO app_admin;


--
-- Name: TABLE forum_posts; Type: ACL; Schema: app; Owner: postgres
--

GRANT SELECT ON TABLE app.forum_posts TO app_guest;
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE app.forum_posts TO app_student;
GRANT SELECT,DELETE,UPDATE ON TABLE app.forum_posts TO app_moderator;
GRANT ALL ON TABLE app.forum_posts TO app_admin;


--
-- Name: SEQUENCE forum_posts_post_id_seq; Type: ACL; Schema: app; Owner: postgres
--

GRANT USAGE ON SEQUENCE app.forum_posts_post_id_seq TO app_student;
GRANT ALL ON SEQUENCE app.forum_posts_post_id_seq TO app_admin;


--
-- Name: TABLE lessons; Type: ACL; Schema: app; Owner: postgres
--

GRANT SELECT ON TABLE app.lessons TO app_student;
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE app.lessons TO app_teacher;
GRANT SELECT ON TABLE app.lessons TO app_moderator;
GRANT ALL ON TABLE app.lessons TO app_admin;
GRANT SELECT ON TABLE app.lessons TO app_author;


--
-- Name: COLUMN lessons.lesson_id; Type: ACL; Schema: app; Owner: postgres
--

GRANT SELECT(lesson_id) ON TABLE app.lessons TO app_guest;


--
-- Name: COLUMN lessons.course_id; Type: ACL; Schema: app; Owner: postgres
--

GRANT SELECT(course_id) ON TABLE app.lessons TO app_guest;


--
-- Name: COLUMN lessons.title; Type: ACL; Schema: app; Owner: postgres
--

GRANT SELECT(title) ON TABLE app.lessons TO app_guest;


--
-- Name: COLUMN lessons.order_number; Type: ACL; Schema: app; Owner: postgres
--

GRANT SELECT(order_number) ON TABLE app.lessons TO app_guest;


--
-- Name: SEQUENCE lessons_lesson_id_seq; Type: ACL; Schema: app; Owner: postgres
--

GRANT USAGE ON SEQUENCE app.lessons_lesson_id_seq TO app_teacher;
GRANT ALL ON SEQUENCE app.lessons_lesson_id_seq TO app_admin;


--
-- Name: TABLE permissions; Type: ACL; Schema: app; Owner: postgres
--

GRANT SELECT ON TABLE app.permissions TO app_moderator;
GRANT ALL ON TABLE app.permissions TO app_admin;


--
-- Name: SEQUENCE permissions_permission_id_seq; Type: ACL; Schema: app; Owner: postgres
--

GRANT ALL ON SEQUENCE app.permissions_permission_id_seq TO app_admin;


--
-- Name: TABLE role_permissions; Type: ACL; Schema: app; Owner: postgres
--

GRANT SELECT ON TABLE app.role_permissions TO app_moderator;
GRANT ALL ON TABLE app.role_permissions TO app_admin;


--
-- Name: TABLE roles; Type: ACL; Schema: app; Owner: postgres
--

GRANT SELECT ON TABLE app.roles TO app_moderator;
GRANT ALL ON TABLE app.roles TO app_admin;


--
-- Name: SEQUENCE roles_role_id_seq; Type: ACL; Schema: app; Owner: postgres
--

GRANT ALL ON SEQUENCE app.roles_role_id_seq TO app_admin;


--
-- Name: TABLE sessions; Type: ACL; Schema: app; Owner: postgres
--

GRANT SELECT ON TABLE app.sessions TO app_moderator;
GRANT ALL ON TABLE app.sessions TO app_admin;


--
-- Name: SEQUENCE sessions_session_id_seq; Type: ACL; Schema: app; Owner: postgres
--

GRANT ALL ON SEQUENCE app.sessions_session_id_seq TO app_admin;


--
-- Name: TABLE submissions; Type: ACL; Schema: app; Owner: postgres
--

GRANT SELECT,INSERT ON TABLE app.submissions TO app_student;
GRANT SELECT ON TABLE app.submissions TO app_moderator;
GRANT ALL ON TABLE app.submissions TO app_admin;


--
-- Name: COLUMN submissions.content; Type: ACL; Schema: app; Owner: postgres
--

GRANT UPDATE(content) ON TABLE app.submissions TO app_student;


--
-- Name: SEQUENCE submissions_submission_id_seq; Type: ACL; Schema: app; Owner: postgres
--

GRANT USAGE ON SEQUENCE app.submissions_submission_id_seq TO app_student;
GRANT ALL ON SEQUENCE app.submissions_submission_id_seq TO app_admin;


--
-- Name: TABLE user_roles; Type: ACL; Schema: app; Owner: postgres
--

GRANT SELECT ON TABLE app.user_roles TO app_moderator;
GRANT ALL ON TABLE app.user_roles TO app_admin;


--
-- Name: TABLE users; Type: ACL; Schema: app; Owner: postgres
--

GRANT SELECT ON TABLE app.users TO app_moderator;
GRANT SELECT ON TABLE app.users TO app_analyst;
GRANT ALL ON TABLE app.users TO app_admin;


--
-- Name: COLUMN users.user_id; Type: ACL; Schema: app; Owner: postgres
--

GRANT SELECT(user_id) ON TABLE app.users TO app_student;


--
-- Name: COLUMN users.username; Type: ACL; Schema: app; Owner: postgres
--

GRANT SELECT(username) ON TABLE app.users TO app_student;


--
-- Name: COLUMN users.email; Type: ACL; Schema: app; Owner: postgres
--

GRANT SELECT(email),UPDATE(email) ON TABLE app.users TO app_student;


--
-- Name: COLUMN users.full_name; Type: ACL; Schema: app; Owner: postgres
--

GRANT SELECT(full_name),UPDATE(full_name) ON TABLE app.users TO app_student;


--
-- Name: COLUMN users.is_active; Type: ACL; Schema: app; Owner: postgres
--

GRANT SELECT(is_active) ON TABLE app.users TO app_student;
GRANT UPDATE(is_active) ON TABLE app.users TO app_moderator;


--
-- Name: SEQUENCE users_user_id_seq; Type: ACL; Schema: app; Owner: postgres
--

GRANT ALL ON SEQUENCE app.users_user_id_seq TO app_admin;


--
-- PostgreSQL database dump complete
--

\unrestrict 3JQcKwxqJxHRWNWLhN3IHDzUFQQr3GmnFWUOGchrB2Jpl23cRJJu9jv6dEjEcjU

